.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh !important;
    z-index: 100;
}

.header {
    height: 56px !important;
}

#sidebar-wrapper {
    min-height: 100vh !important;
    width: 100vw;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#content-wrapper {
    min-width: 0;
    width: 100%;
}