*.pyc
cachefile.dbm
*.log
*.log.*
*.db
*.pyc
.idea/*
bazarr.pid
/venv
/data
static/scss/.sass-cache/*
static/scss/.sass-cache
*.scssc
/.vscode

# Allow
!*.dll
node_modules
frontend/build
frontend/dist
frontend/*.local
