*.pyc
cachefile.dbm
*.log
*.log.*
*.db
*.pyc
.idea/*
bazarr.pid
/venv
/data
/bin
/.vscode

# Middleware
VERSION

# CI
/__builds__
/package.json
/package-lock.json

# Allow
!*.dll

# Frontend
node_modules
frontend/dist
frontend/*.local
frontend/.eslintcache
frontend/.idea/*
frontend/**/*.map
frontend/build
