#Bazarr requirements
apprise>=0.0.9
apscheduler>=3.5.1
babelfish>=0.5.5
bottle>=0.12.13
bottle-fdsend>=0.1.1
dogpile.cache>=0.6.5
#enzyme>=0.4.1  <-- included in /libs
gitpython>=2.1.9
langdetect>=1.0.7
Pillow>=5.1.0
py-pretty>=1
pycountry>=18.2.23
pytz>=2018.4
requests>=2.18.4
#subliminal>=2.0.5  <-- included in /libs
tzlocal>=1.5.1
urllib3<1.23,>=1.21.1
waitress>=1.1.0
configparser>=3.5.0
backports.functools-lru-cache>=1.5
beaker>=1.10.0

#Subliminal requirements
click>=6.7
babelfish>=0.5.5
six>=1.11.0
dogpile.cache>=0.6.5
requests>=2.18.4
beautifulsoup4>=4.6.0
pysrt>=1.1.1
rarfile>=3.0
pytz>=2018.4
appdirs>=1.4.3
#enzyme  <-- included in /libs
guessit>=2.1.4
chardet>=3.0.4
futures>=3.2.0
stevedore>=1.28.0
