{% extends '_main.html' %}

{% block title %}History (Series) - Bazarr{% endblock %}

{% block head %}

{% endblock head %}

{% block body %}
<table id="history_movies" class="mdl-data-table" style="width:100%">
	<thead>
		<tr>
			<th>action</th>
			<th>title</th>
			<th>timestamp</th>
			<th>description</th>
		</tr>
	</thead>
</table>
{% endblock body %}

{% block tail %}
<script>
	$(document).ready(function() {
        var table = $('#history_movies').DataTable( {
            "processing": true,
            "serverSide": true,
			"searching": false,
			"ordering": false,
			"lengthChange": false,
            "ajax": "/api/history_movies",
            "columns": [
            { "data": "action" },
            { "data": "title" },
            { "data": "timestamp" },
            { "data": "description" }
            ]
        } );
    } );
</script>
{% endblock tail %}
