{% extends '_main.html' %}

{% block title %}History (Movies) - Bazarr{% endblock %}

{% block bcleft %}

{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <table id="history_movies" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>action</th>
            <th>title</th>
            <th>timestamp</th>
            <th style="max-width: 60%;">description</th>
        </tr>
        </thead>
    </table>
{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {
            var table = $('#history_movies').DataTable({
                processing: false,
                serverSide: true,
                language: {
                    zeroRecords: 'Nothing Found In Movies History',
                    processing: "Loading Movies History..."
                },
                searching: false,
                ordering: false,
                responsive: true,
                lengthChange: false,
                pageLength: {{ settings.general.page_size }},
                ajax: "{{ url_for('api.historymovies') }}",
                columns: [
                    {
                        "data": "action",
                        "render": function (data) {
                            if (data === 0) {
                                return "<i class='fas fa-trash' title='Subtitle file has been erased.' data-toggle='tooltip' data-placement='right'></i>";
                            } else if (data === 1) {
                                return "<i class='fas fa-download' title='Subtitle file has been downloaded.' data-toggle='tooltip' data-placement='right'></i>";
                            } else if (data === 2) {
                                return "<i class='fas fa-user' title='Subtitle file has been manually downloaded.' data-toggle='tooltip' data-placement='right'></i>";
                            } else if (data === 3) {
                                return "<i class='fas fa-recycle' title='Subtitle file has been upgraded.' data-toggle='tooltip' data-placement='right'></i>";
                            } else if (data === 4) {
                                return "<i class='fas fa-cloud-upload-alt' title='Subtitle file has been manually uploaded.' data-toggle='tooltip' data-placement='right'></i>";
                            } else if (data === 5) {
                                return "<i class='fas fa-clock' title='Subtitle file has been synced.' data-toggle='tooltip' data-placement='right'></i>";
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data) {
                            return '<a href="' + "{{ url_for( 'movie', no='tempvalue' ) }}".replace("tempvalue", data.radarrId) + '">' + data.title + '</a>';
                        }
                    },
                    {data: "timestamp"},
                    {
                        data: null,
                        render: function (data) {
                            if (data.upgradable) {
                                return "<i class='fas fa-recycle' title='This Subtitles File Is Eligible For An Upgrade.' style='color: green;' data-toggle='tooltip' data-placement='right'></i> " + data.description;
                            } else {
                                return data.description;
                            }
                        }
                    }
                ]
            });

            events.on('event', function (event) {
                var event_json = JSON.parse(event);
                if (event_json.type === 'movieHistory') {
                    $('#history_movies').DataTable().ajax.reload(resetPaging = false);
                    $('[data-toggle="tooltip"]').tooltip({html: true});
                }
            });
        });
    </script>
{% endblock tail %}
