{% extends '_main.html' %}

{% block title %}History (Series) - Bazarr{% endblock %}

{% block head %}

{% endblock head %}

{% block body %}
<table id="history_series" class="mdl-data-table" style="width:100%">
	<thead>
		<tr>
			<th>Action</th>
			<th>Name</th>
			<th>Episode</th>
			<th>Episode Title</th>
			<th>Date</th>
			<th>Description</th>
		</tr>
	</thead>
</table>
{% endblock body %}

{% block tail %}
<script>
	$(document).ready(function() {
        var table = $('#history_series').DataTable( {
            "processing": true,
            "serverSide": true,
			"searching": false,
			"ordering": false,
			"lengthChange": false,
            "ajax": "/api/history_series",
            "columns": [
            { "data": "action" },
            { "data": "seriesTitle" },
            { "data": "episode_number" },
            { "data": "episodeTitle" },
            { "data": "timestamp" },
            { "data": "description" }
            ]
        } );
    } );
</script>
{% endblock tail %}
