{% extends '_main.html' %}
{% block title %}Login{% endblock %}
{% block page_body %}
    {% block body %}
        <section id="wrapper">
            <div class="login-register">
                <div class="login-box card">
                    <div class="card-body">
                        <form class="form-horizontal text-center" action="{{ url_for("login_page") }}" method="post">

                        <div class="form-group ">
                                <div class="col-xs-12">
                                    <img src="{{ url_for('static',filename='logo128.png') }}" alt="Bazarr logo" width="60"/>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-xs-12">
                                    <input type="text" name="username" class="form-control" placeholder="Username"
                                           value="{{ request.form['username'] }}" required
                                           {% if not password %}autofocus{% endif %}>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="password" name="password" class="form-control" placeholder="Password"
                                           required>
                                </div>
                            </div>
                            {% if error %}
                                <div class="alert alert-danger">
                                    <h6 class="text-danger"> {{ error }} </h6>
                                </div>
                            {% endif %}
                            {% if password_reset %}
                                <div class="alert alert-warning">
                                    <h6 class="text-warning">Your password have been reset and is equal to your username. You should change it as soon as possible in settings.</h6>
                                </div>
                            {% endif %}
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                            type="submit">Login
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    {% endblock body %}
{% endblock page_body %}
