{% extends '_main.html' %}

{% block title %}Series - Bazarr{% endblock %}

{% block bcleft %}
    <div class="">
        <button class="btn btn-outline" id="mass_edit"
                onclick="window.location.href = '{{ url_for('serieseditor') }}';">
            <div><i class="fas fa-list align-top text-themecolor text-center font-20" aria-hidden="true"></i></div>
            <div class="align-bottom text-themecolor small text-center">Mass Edit</div>
        </button>
    </div>
{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <table id="series" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Path Exist</th>
            <th>Audio Profile Languages</th>
            <th>Languages Profile</th>
            <th>Subtitles</th>
            <th></th>
        </tr>
        </thead>
    </table>

    <div id="editModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="edit_series_title_span"></span></h5><br>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form" name="edit_form" id="edit_form">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Audio Profile Languages
                                </div>
                                <div class="form-group col-sm-8 pl-sm-0">
                                    <span id="edit_audio_language_span"></span>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Languages Profile
                                </div>
                                <div class="form-group col-sm-8 pl-sm-0">
                                    <select class="selectpicker" id="edit_languages_select" name="languages"></select>
                                </div>
                            </div>
                        </div>

                        <input type="hidden" id="edit_sonarrSeriesId" name="sonarrSeriesId" value=""/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="edit_save_button" class="btn btn-info"><span id="edit_save_button_span">Save</span></button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {
            getLanguagesProfiles();

            events.on('event', function (event) {
                var event_json = JSON.parse(event);
                if (event_json.type === 'series' && event_json.action === 'insert') {
                    $.ajax({
                        url: "{{ url_for('api.series') }}?seriesid=" + event_json.series,
                        success: function (data) {
                            if (data.data.length) {
                                $('#series').DataTable().rows.add(data.data);
                                $('#series').DataTable().columns.adjust().draw(false);
                                $('[data-toggle="tooltip"]').tooltip({html: true});
                            }
                        }
                    })
                } else if (event_json.type === 'series' && event_json.action === 'update') {
                    var rowId = $('#series').DataTable().row('#row_' + event_json.series);
                    if (rowId.length) {
                        $.ajax({
                            url: "{{ url_for('api.series') }}?seriesid=" + event_json.series,
                            success: function (data) {
                                if (data.data.length) {
                                    $('#series').DataTable().row(rowId).data(data.data[0]).draw('page');
                                    $('[data-toggle="tooltip"]').tooltip({html: true});
                                }
                            }
                        })
                    }
                } else if (event_json.type === 'series' && event_json.action === 'delete') {
                    var rowId = $('#series').DataTable().row('#row_' + event_json.series);
                    if (rowId.length) {
                        $('#series').DataTable().row(rowId).remove();
                        $('#series').DataTable().columns.adjust().draw(false);
                        $('[data-toggle="tooltip"]').tooltip({html: true});
                    }
                }
            });

            var table = $('#series').DataTable({
                dom:
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
                processing: true,
                serverSide: true,
                language: {
                    zeroRecords: 'No Series Found',
                    processing: "Loading Series..."
                },
                searching: false,
                ordering: false,
                lengthChange: false,
                responsive: true,
                pageLength: {{ settings.general.page_size }},
                ajax: "{{ url_for('api.series') }}",
                columns: [
                    {
                        data: null,
                        render: function (data) {
                            return '<a href="' + "{{ url_for( 'episodes', no='tempvalue' ) }}".replace("tempvalue", data.sonarrSeriesId) + '">' + data.title + '</a>';
                        }
                    },
                    {
                        data: null,
                        className: "dt-center",
                        responsivePriority: 1,
                        render: function (data) {
                            if (data.exist === false) {
                                return '<i class="fas fa-exclamation-triangle" data-toggle="tooltip" data-placement="right" title="This path doesn\'t seem to be valid: ' + data.mapped_path + '"></i>';
                            } else if (data.exist === true) {
                                return '<i class="fas fa-check" data-toggle="tooltip" data-placement="right" title="This path seems to be valid: ' + data.mapped_path + '"></i>';
                            }
                        }
                    },
                    {
                        data: 'audio_language',
                        render: function (data) {
                            var audio_languages = '';
                            data.forEach(appendFunc);
                            return audio_languages;

                            function appendFunc(value) {
                                audio_languages = audio_languages + '<span class="badge badge-secondary">' + value.name + '</span> ';
                            }
                        }
                    },
                    {
                        data: "profileId.name",
                        className: "dt-center"
                    },
                    {
                        data: null,
                        responsivePriority: 2,
                        render: function (data) {
                            var total = data.episodeFileCount;
                            var completed = data.episodeFileCount - data.episodeMissingCount;
                            var completed_style = '';
                            var completed_text = '';
                            if (data.episodeFileCount && data.languages !== 'None') {
                                completed_style = ' style="width: ' + completed / total * 100 + '%;"';
                                completed_text = completed + '/' + total;
                            }
                            return '<div class="progress"><div class="progress-bar" role="progressbar"' + completed_style + ' aria-valuenow="' + completed + '" aria-valuemin="0" aria-valuemax="' + total + '">' + completed_text + '</div></div>'
                        }
                    },
                    {
                        data: null,
                        render: function (data) {
                            return '<a href="" class="edit_button badge badge-secondary" data-sonarrSeriesId=' + data.sonarrSeriesId + ' data-audiolanguage=\'' + JSON.stringify(data.audio_language) + '\' data-title="' + data.title + '" data-languages_profile=' + data.profileId.id + ' data-hi="' + data.hearing_impaired + '" data-forced="' + data.forced + '"><i class="fas fa-wrench"></i></a>';
                        }
                    }
                ]
            });
        });

        $('#series').on('click', '.edit_button', function (e) {
            e.preventDefault();
            $("#edit_series_title_span").html($(this).data('title'));
            $("#edit_audio_language_span").empty();
            $.each($(this).data('audiolanguage'), function (i, item) {
                $("#edit_audio_language_span").append('<div class="badge badge-secondary">' + item['name'] + '</div>');
            })
            $('#edit_sonarrSeriesId').val($(this).data('sonarrseriesid'));


            $('#edit_languages_select').empty();
            $('#edit_languages_select').append('<option value="None">None</option>');
            $.each(languagesProfiles, function (i, item) {
                $('#edit_languages_select').append('<option value="' + item.profileId + '">' + item.name + '</option>');
            });
            $("#edit_languages_select").selectpicker("refresh");
            $('#edit_languages_select').selectpicker('val', (($(this).data('languages_profile')) ? $(this).data('languages_profile') : 'None'));

            $('#editModal')
                .modal({
                    focus: false
                });
        });

        $('#edit_form').on('submit', function (e) {
            e.preventDefault();
            var formdata = new FormData(document.getElementById("edit_form"));

            $.ajax({
                url: "{{ url_for('api.series') }}?seriesid=" + $('#edit_sonarrSeriesId').val(),
                data: formdata,
                processData: false,
                contentType: false,
                type: 'POST',
                beforeSend: function () {
                    $('#edit_save_button_span').html('<div class="spinner-border spinner-border-sm" role="status"><span class="sr-only">Loading...</span></div>');
                },
                success: function () {
                    $('#editModal').modal('hide');
                    $('#edit_save_button_span').html('Save');
                }
            });
        });

        function getLanguagesProfiles() {
            $.ajax({
                url: "{{ url_for('api.languagesprofiles') }}",
                success: function (data) {
                    languagesProfiles = data;
                }
            });
        }
    </script>
{% endblock tail %}
