{% extends '_main.html' %}

{% block title %}Series - Bazarr{% endblock %}

{% block head %}

{% endblock head %}

{% block body %}
<table id="series" class="mdl-data-table" style="width:100%">
	<thead>
		<tr>
			<th>Name</th>
			<th>Path exist</th>
			<th>Audio Language</th>
			<th>Subtitles Languages</th>
			<th>Hearing-Impaired</th>
			<th>Forced</th>
		</tr>
	</thead>
</table>
{% endblock body %}

{% block tail %}
<script>
	$(document).ready(function() {
        var table = $('#series').DataTable( {
            "processing": true,
            "serverSide": true,
			"searching": false,
			"ordering": false,
			"lengthChange": false,
            "ajax": "/api/series",
            "columns": [
            { "data": "title" },
            { "data": "exist" },
            { "data": "audio_language.name" },
            { "data": "languages[, ].code2" },
            { "data": "hearing_impaired" },
            { "data": "forced" }
            ]
        } );
    } );
</script>
{% endblock tail %}
