{% extends '_main.html' %}

{% block title %}General - Bazarr{% endblock %}

{% block bcleft %}
    <div class="">
        <button class="btn btn-outline" id="save_button">
            <div><i class="fas fa-save align-top text-themecolor text-center font-20" aria-hidden="true"></i></div>
            <div class="align-bottom text-themecolor small text-center">Save</div>
        </button>
    </div>
{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <div class="container-fluid" style="padding-top: 3em;">
        <h4>Host</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Listening IP Address</b>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="settings-general-ip" name="settings-general-ip" value="{{settings.general.ip}}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Listening Port</b>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="settings-general-port" name="settings-general-port" value="{{settings.general.port}}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Base URL</b>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="settings-general-base_url" name="settings-general-base_url" value="{{settings.general.base_url}}">
            </div>
        </div>
        <br>

        <h4>Security</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Authentication</b>
            </div>
            <div class="form-group col-sm-4">
                <select class="selectpicker" id="settings-auth-type" name="settings-auth-type">
                    <option value="None">None</option>
                    <option value="Basic">Basic</option>
                    <option value="Form">Form</option>
                </select>
            </div>
        </div>
        <div id="authentication_div">
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Username</b>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="settings-auth-username" name="settings-auth-username" value="{{settings.auth.username}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Password</b>
                </div>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="settings-auth-password" name="settings-auth-password" value="{{settings.auth.password}}">
                </div>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>API Key</b>
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="settings-auth-apikey" name="settings-auth-apikey" value="{{settings.auth.apikey}}">
            </div>
        </div>
        <br>

        <h4>Proxy</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Type</b>
            </div>
            <div class="form-group col-sm-4">
                <select class="selectpicker" id="settings-proxy-type" name="settings-proxy-type">
                    <option value="None">None</option>
                    <option value="http">HTTP(S)</option>
                    <option value="socks4">Socks4</option>
                    <option value="socks5">Socks5</option>
                </select>
            </div>
        </div>
        <div id="proxy_div">
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Hostname</b>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="settings-proxy-url" name="settings-proxy-url" value="{{settings.proxy.url}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Port</b>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="settings-proxy-port" name="settings-proxy-port" value="{{settings.proxy.port}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Username</b>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="settings-proxy-username" name="settings-proxy-username" value="{{settings.proxy.username}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Password</b>
                </div>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="settings-proxy-password" name="settings-proxy-password" value="{{settings.proxy.password}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-2 text-right">
                    <b>Ignored Addresses</b>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="settings-proxy-exclude" name="settings-proxy-exclude" value="{{settings.proxy.exclude}}">
                </div>
            </div>
            <br>
        </div>

        <h4>UI</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Page Size</b>
            </div>
            <div class="form-group col-sm-4">
                <select class="selectpicker" id="settings-general-page_size" name="settings-general-page_size">
                    <option value="-1">Unlimited</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="250">250</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                </select>
            </div>
        </div>
        <br>

        <h4>Logging</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Debug</b>
            </div>
            <div class="form-group col-sm-1">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="settings-general-debug" name="settings-general-debug">
                    <span class="custom-control-label" for="settings-general-debug"></span>
                </label>
            </div>
        </div>
        <br>

        <h4>Analytics</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Enabled</b>
            </div>
            <div class="form-group col-sm-1">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="settings-analytics-enabled" name="settings-analytics-enabled">
                    <span class="custom-control-label" for="settings-analytics-enabled"></span>
                </label>
            </div>
        </div>
        <br>

        <h4>Updates</h4>
        <hr/>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Branch</b>
            </div>
            <div class="form-group col-sm-4">
                <select class="selectpicker" id="settings-general-branch" name="settings-general-branch">
                    <option value="master">master</option>
                    <option value="development">development</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Automatic</b>
            </div>
            <div class="form-group col-sm-1">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="settings-general-auto_update" name="settings-general-auto_update">
                    <span class="custom-control-label" for="settings-general-auto_update"></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-right">
                <b>Restart After Update</b>
            </div>
            <div class="form-group col-sm-1">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="settings-general-update_restart" name="settings-general-update_restart">
                    <span class="custom-control-label" for="settings-general-update_restart"></span>
                </label>
            </div>
        </div>
    </div>
{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {

        })
    </script>
{% endblock tail %}
