{% extends '_main.html' %}

{% block title %}Sonarr - Bazarr{% endblock %}

{% block page_head %}

{% endblock page_head %}

{% block bcleft %}
    <div class="">
        <button class="btn btn-outline" id="save_button">
            <div>
                <span class="fa-stack">
                    <i class="fas fa-save fa-stack-2x align-top text-themecolor text-center font-20" aria-hidden="true"></i>
                    <i id="save_button_checkmark" class="fas fa-check fa-stack-2x" style="color:green;"></i>
                </span>
            </div>
            <div class="align-bottom text-themecolor small text-center">Save</div>
        </button>
    </div>
{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <div class="container-fluid" style="padding-top: 3em;">
        <form class="form" name="settings_form" id="settings_form">
            <h4>Use Sonarr</h4>
            <hr/>
            <div class="row">
                <div class="col-sm-3 text-right">
                    <b>Enabled</b>
                </div>
                <div class="form-group col-sm-1">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="settings-general-use_sonarr" name="settings-general-use_sonarr">
                        <span class="custom-control-label" for="settings-general-use_sonarr"></span>
                    </label>
                </div>
            </div>
            <br>

            <div id="sonarr_div">
                <h4>Host</h4>
                <hr/>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>Hostname or IP Address</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="settings-sonarr-ip" name="settings-sonarr-ip" value="{{settings.sonarr.ip}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>Port Number</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="settings-sonarr-port" name="settings-sonarr-port" value="{{settings.sonarr.port}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>URL Base</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="settings-sonarr-base_url" name="settings-sonarr-base_url" value="{{settings.sonarr.base_url}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>SSL Enabled</b>
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="settings-sonarr-ssl" name="settings-sonarr-ssl">
                            <span class="custom-control-label" for="settings-sonarr-ssl"></span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>API Key</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="settings-sonarr-apikey" name="settings-sonarr-apikey" value="{{settings.sonarr.apikey}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <button type="button" class="btn btn-secondary" id="test_sonarr_connection">Test</button>
                    </div>
                    <div class="col-sm-4">
                        <span id="test_sonarr_span"></span>
                    </div>
                </div>
                <br>

                <h4>Options</h4>
                <hr/>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>Minimum Score</b>
                    </div>
                    <div class="col-sm-1">
                        <input type="number" min="0" max="100" step="1" onkeydown="return false" class="form-control" id="settings-general-minimum_score" name="settings-general-minimum_score" value="{{settings.general.minimum_score}}">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-3 text-right">
                        <b>Download Only Monitored</b>
                    </div>
                    <div class="form-group col-sm-1">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="settings-sonarr-only_monitored" name="settings-sonarr-only_monitored">
                            <span class="custom-control-label" for="settings-sonarr-only_monitored"></span>
                        </label>
                    </div>
                </div>
                <br>
                <h4>Path Mappings</h4>
                <hr/>
                <div class="row">
                    <div class="col-sm-8">
                        <table class="table table-striped" id="path_mapping" style="width:100%;">

                        </table>
                    </div>
                </div>
                <br>
            </div>
        </form>
    </div>

    <div id="addModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Path Mapping</h5><br>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form" name="add_form" id="add_form">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Path for Sonarr
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="add_path_sonarr" name="add_path_sonarr" value="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Path for Bazarr
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="add_path_bazarr" name="add_path_bazarr" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="add_save_button" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="editModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Path Mapping</h5><br>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form" name="edit_form" id="edit_form">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Path for Sonarr
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="edit_path_sonarr" name="edit_path_sonarr" value="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3 text-right">
                                    Path for Bazarr
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="edit_path_bazarr" name="edit_path_bazarr" value="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="edit_save_button" class="btn btn-info">Save</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="deleteModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Path Mapping</h5><br>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this path mapping?
                </div>
                <div class="modal-footer">
                    <button type="submit" id="delete_yes_button" class="btn btn-info">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {
            // Hide checkmark over save button
            $('#save_button_checkmark').hide();

            // Hide *_div on Select input changed to None
            $('#settings-general-use_sonarr').on('change', function() {
                if ($(this).prop('checked')) {
                    $('#sonarr_div').show();
                } else {
                    $('#sonarr_div').hide();
                }
            });

            // Set Checkbox input values
            $('#settings-general-use_sonarr').prop('checked', {{'true' if settings.general.getboolean('use_sonarr')}}).trigger('change');
            $('#settings-sonarr-ssl').prop('checked', {{'true' if settings.sonarr.getboolean('ssl')}});
            $('#settings-sonarr-only_monitored').prop('checked', {{'true' if settings.sonarr.getboolean('only_monitored')}});

            $('#save_button').on('click', function() {
                var formdata = new FormData(document.getElementById("settings_form"));

                // Make sure all checkbox input are sent with true/false value
                $('input[type=checkbox]').each(function () {
                    formdata.set($(this).prop('id'), $(this).prop('checked'));
                });

                formdata.append('settings-general-path_mappings', JSON.stringify(table.rows().data().toArray()));

                $.ajax({
                    url: "{{ url_for('api.savesettings') }}",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    type: 'POST',
                    complete: function () {
                        $('#save_button_checkmark').show();
                        setTimeout(
                            function()
                            {
                                $('#save_button_checkmark').hide();
                            }, 2000);
                    }
                });
            });

            var path_mapping = jQuery.makeArray({{ settings.general.path_mappings|safe }})
            path_mapping = $.grep(path_mapping, function(v) {
                return v[0] !== "" || v[1] !== "";
            });

            var table = $('#path_mapping').DataTable({
                data: path_mapping,
                columns: [{
                        title: "Path for Sonarr",
                        type: "text"
                    },
                    {
                        title: "Path for Bazarr",
                        type: "text"
                    }],
                dom: 'Bfrtip',
                select: {
                    style: 'single'
                },
                language: {
                    zeroRecords: 'No Path Mappings'
                },
                searching: false,
                ordering: false,
                lengthChange: true,
                responsive: true,
                paging: false,
                info: false,
                buttons: [{
                    text: 'Add',
                    action: function () {
                        $('#addModal').modal('show');
                    }
                },
                {
                    extend: 'selected',
                    text: 'Edit',
                    action: function () {
                        $('#edit_path_sonarr').val(table.row( { selected: true } ).data()[0]);
                        $('#edit_path_bazarr').val(table.row( { selected: true } ).data()[1]);
                        $('#editModal').modal('show');
                    }
                },
                {
                    extend: 'selected',
                    text: 'Delete',
                    action: function () {
                        $('#deleteModal').modal('show');
                    }
                }]
            });

            $('#add_save_button').on('click', function(e) {
                e.preventDefault();
                table.row.add([ $('#add_path_sonarr').val(), $('#add_path_bazarr').val()]).draw();
                $('#add_path_sonarr').val('');
                $('#add_path_bazarr').val('');
                $('#addModal').modal('hide');
            });

            $('#edit_save_button').on('click', function(e) {
                e.preventDefault();
                table.row( { selected: true } ).data([ $('#edit_path_sonarr').val(), $('#edit_path_bazarr').val()]);
                $('#editModal').modal('hide');
            });

            $('#delete_yes_button').on('click', function(e) {
                e.preventDefault();
                table.row( { selected: true } ).remove().draw();
                $('#deleteModal').modal('hide');
            });

            $('#test_sonarr_connection').on('click', function() {
                if ($('#settings-sonarr-ssl').is(':checked')) {
                    var protocol = 'https';
                } else {
                    var protocol = 'http';
                }
                var sonarr_url = $('#settings-sonarr-ip').val() + ":" + $('#settings-sonarr-port').val() + $('#settings-sonarr-base_url').val().replace(/\/$/, "") + "/api/system/status?apikey=" + $('#settings-sonarr-apikey').val();

                $.getJSON("{{ url_for('test_url') }}/" + protocol + "/" + encodeURIComponent(sonarr_url), function (data) {
                    if (data.status) {
                        $('#test_sonarr_span').text('Test Successful: Sonarr v' + data.version).css('color', 'green');
                    } else {
                        $('#test_sonarr_span').text('Test Failed').css('color', 'red');
                    }
                });
            });
        });
    </script>
{% endblock tail %}
