{% extends '_main.html' %}

{% block title %}Wanted (Series) - Bazarr{% endblock %}

{% block bcleft %}

{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <table id="wanted_series" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Series</th>
                <th>Episode</th>
                <th>Episode Title</th>
                <th>Missing Subtitle(s)</th>
            </tr>
        </thead>
    </table>
{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {
            var table = $('#wanted_series').DataTable({
                "processing": true,
                "serverSide": true,
                language: {
                    zeroRecords: 'No Missing Series Subtitles',
                    processing: "Loading Missing Series Subtitles..."
                },
                "searching": false,
                "ordering": false,
                "lengthChange": false,
                "responsive": true,
                "pageLength": {{ settings.general.page_size }},
                "ajax": "{{ url_for('api.wantedseries') }}",
                "columns": [
                    {"data": null,
                        "render": function (data) {
                            return '<a href="' + "{{ url_for( 'episodes', no='tempvalue' ) }}".replace("tempvalue", data.sonarrSeriesId) + '">' + data.seriesTitle + '</a>';
                        }
                    },
                    {"data": "episode_number"},
                    {"data": "episodeTitle"},
                    {"data": "missing_subtitles"}
                ]
            });

            events.on('event', function(event) {
                var event_json = JSON.parse(event);
                if (event_json.type === 'episodes') {
                    $('#wanted_series').DataTable().ajax.reload(resetPaging=false);
                    $('[data-toggle="tooltip"]').tooltip({html: true});
                }
            });
		});
    </script>
{% endblock tail %}
