{% extends '_main.html' %}

{% block title %}Wanted (Movies) - Bazarr{% endblock %}

{% block bcleft %}

{% endblock bcleft %}

{% block bcright %}

{% endblock bcright %}

{% block body %}
    <table id="wanted_movies" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Missing Subtitle(s)</th>
            </tr>
        </thead>
    </table>
{% endblock body %}

{% block tail %}
    <script>
        $(document).ready(function () {
            var table = $('#wanted_movies').DataTable({
                "processing": true,
                "serverSide": true,
                language: {
                    zeroRecords: 'No Missing Movies Subtitles',
                    processing: "Loading Missing Movies Subtitles..."
                },
                "searching": false,
                "ordering": false,
                "lengthChange": false,
                "responsive": true,
                "pageLength": {{ settings.general.page_size }},
                "ajax": "{{ url_for('api.wantedmovies') }}",
                "columns": [
                    {"data": null,
                        "render": function (data) {
                            return '<a href="' + "{{ url_for( 'movie', no='tempvalue' ) }}".replace("tempvalue", data.radarrId) + '">' + data.title + '</a>';
                        }
                    },
                    {"data": "missing_subtitles"}
                ]
            });

            events.on('event', function(event) {
                var event_json = JSON.parse(event);
                if (event_json.type === 'movie') {
                    $('#wanted_movies').DataTable().ajax.reload(resetPaging=false);
                    $('[data-toggle="tooltip"]').tooltip({html: true});
                }
            });
		});
    </script>
{% endblock tail %}
