.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - bazarr.$header-height);
}

.chart {
  flex: 1;
  min-height: 0;

  @media (width <= 750px) {
    min-height: 300px;
  }
}
