@use "../custom-bootstrap" as bs;

.chip-container {
  overflow: hidden;
  &:focus-within {
    border-color: bs.$primary;
  }
  .input {
    border: hidden;
    outline: none;
    width: 100%;
    flex-grow: 2;
  }

  .chips {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .element {
    padding: 0 0.5rem;
    margin-right: 0.25rem;
    background-color: bs.$light;
    border-radius: 0.25rem;

    max-width: 10rem;

    overflow-x: hidden;
    text-overflow: ellipsis;

    transition: {
      duration: 0.1s;
      timing-function: ease-in-out;
    }

    &.active {
      &:hover {
        cursor: pointer;
        background-color: bs.$danger;
        color: white;
      }
    }
  }
}
