.notification-button {
  &.new {
    &::after {
      position: absolute;
      background-color: red;
      content: "";
      border-radius: 50%;
      height: 6px;
      width: 6px;
      right: 10%;
      top: 10%;
    }
  }

  .menu {
    max-height: 85vh;
    overflow-y: auto;
  }

  $content-width: 14rem;

  .progress {
    width: $content-width;
    max-width: $content-width;

    .name {
      word-wrap: break-word;
      white-space: normal;
    }
  }

  .notification {
    word-wrap: break-word;
    white-space: normal;
    width: $content-width;
    max-width: $content-width;
  }
}
