.search-modal-container {
  flex-wrap: nowrap;
  overflow: hidden;
  .text-container {
    max-width: 500px;
    .text {
      text-overflow: ellipsis;
      overflow-wrap: break-word;
      word-wrap: break-word;
      white-space: pre-wrap;

      &.hidden {
        color: gray;
      }
    }
  }
  &.multi {
    cursor: zoom-in;
  }
}
