interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/?s=Breaking%20Bad%20S01E01
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"pt-BR\" prefix=\"og: https://ogp.me/ns#\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\"\
        >\n\t\n<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n<link\
        \ rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n<link\
        \ href=\"https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap\"\
        \ rel=\"stylesheet\">\n\t\n<title>breaking bad s01e01 - Legendei - Aqui Sai\
        \ Primeiro</title>\n\t<style>img:is([sizes=\"auto\" i], [sizes^=\"auto,\"\
        \ i]) { contain-intrinsic-size: 3000px 1500px }</style>\n\t\n\t\t<!-- All\
        \ in One SEO Pro 4.6.0 - aioseo.com -->\n\t\t<meta name=\"robots\" content=\"\
        max-image-preview:large\" />\n\t\t<meta name=\"google-site-verification\"\
        \ content=\"JSMIV3rTOC3Y-WjaQzmU3KvW7aWHceTxBFYsJYpm-1k\" />\n\t\t<meta name=\"\
        generator\" content=\"All in One SEO Pro (AIOSEO) 4.6.0\" />\n\t\t<script\
        \ type=\"application/ld+json\" class=\"aioseo-schema\">\n\t\t\t{\"@context\"\
        :\"https:\\/\\/schema.org\",\"@graph\":[{\"@type\":\"BreadcrumbList\",\"@id\"\
        :\"https:\\/\\/legendei.net\\/#breadcrumblist\",\"itemListElement\":[{\"@type\"\
        :\"ListItem\",\"@id\":\"https:\\/\\/legendei.net\\/#listItem\",\"position\"\
        :1,\"name\":\"Home\",\"item\":\"https:\\/\\/legendei.net\\/\",\"nextItem\"\
        :\"https:\\/\\/legendei.net\\/#listItem\"},{\"@type\":\"ListItem\",\"@id\"\
        :\"https:\\/\\/legendei.net\\/#listItem\",\"position\":2,\"name\":\"breaking\
        \ bad s01e01\",\"previousItem\":\"https:\\/\\/legendei.net\\/#listItem\"}]},{\"\
        @type\":\"Organization\",\"@id\":\"https:\\/\\/legendei.net\\/#organization\"\
        ,\"name\":\"Legendei\",\"url\":\"https:\\/\\/legendei.net\\/\",\"logo\":{\"\
        @type\":\"ImageObject\",\"url\":\"https:\\/\\/legendei.net\\/wp-content\\\
        /uploads\\/2026\\/03\\/favicon.webp\",\"@id\":\"https:\\/\\/legendei.net\\\
        /#organizationLogo\",\"width\":150,\"height\":150},\"image\":{\"@id\":\"https:\\\
        /\\/legendei.net\\/#organizationLogo\"}},{\"@type\":\"SearchResultsPage\"\
        ,\"@id\":\"https:\\/\\/legendei.net\\/#searchresultspage\",\"url\":\"https:\\\
        /\\/legendei.net\\/\",\"name\":\"breaking bad s01e01 - Legendei - Aqui Sai\
        \ Primeiro\",\"inLanguage\":\"pt-BR\",\"isPartOf\":{\"@id\":\"https:\\/\\\
        /legendei.net\\/#website\"},\"breadcrumb\":{\"@id\":\"https:\\/\\/legendei.net\\\
        /#breadcrumblist\"}},{\"@type\":\"WebSite\",\"@id\":\"https:\\/\\/legendei.net\\\
        /#website\",\"url\":\"https:\\/\\/legendei.net\\/\",\"name\":\"Legendei\"\
        ,\"description\":\"Baixar Legendas de S\\u00e9ries e Filmes\",\"inLanguage\"\
        :\"pt-BR\",\"publisher\":{\"@id\":\"https:\\/\\/legendei.net\\/#organization\"\
        }}]}\n\t\t</script>\n\t\t<!-- All in One SEO Pro -->\n\n<link rel='dns-prefetch'\
        \ href='//fonts.googleapis.com' />\n<link rel=\"alternate\" type=\"application/rss+xml\"\
        \ title=\"Feed para Legendei &raquo;\" href=\"https://legendei.net/feed/\"\
        \ />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Feed de\
        \ coment\xE1rios para Legendei &raquo;\" href=\"https://legendei.net/comments/feed/\"\
        \ />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Legendei\
        \ &raquo; Feed do resultado da busca por &#8220;breaking bad s01e01&#8221;\"\
        \ href=\"https://legendei.net/search/breaking+bad+s01e01/feed/rss2/\" />\n\
        <script type=\"text/javascript\">\n/* <![CDATA[ */\nwindow._wpemojiSettings\
        \ = {\"baseUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\/emoji\\/16.0.1\\\
        /72x72\\/\",\"ext\":\".png\",\"svgUrl\":\"https:\\/\\/s.w.org\\/images\\/core\\\
        /emoji\\/16.0.1\\/svg\\/\",\"svgExt\":\".svg\",\"source\":{\"concatemoji\"\
        :\"https:\\/\\/legendei.net\\/wp-includes\\/js\\/wp-emoji-release.min.js?ver=6.8.3\"\
        }};\n/*! This file is auto-generated */\n!function(s,n){var o,i,e;function\
        \ c(e){try{var t={supportTests:e,timestamp:(new Date).valueOf()};sessionStorage.setItem(o,JSON.stringify(t))}catch(e){}}function\
        \ p(e,t,n){e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(t,0,0);var\
        \ t=new Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data),a=(e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(n,0,0),new\
        \ Uint32Array(e.getImageData(0,0,e.canvas.width,e.canvas.height).data));return\
        \ t.every(function(e,t){return e===a[t]})}function u(e,t){e.clearRect(0,0,e.canvas.width,e.canvas.height),e.fillText(t,0,0);for(var\
        \ n=e.getImageData(16,16,1,1),a=0;a<n.data.length;a++)if(0!==n.data[a])return!1;return!0}function\
        \ f(e,t,n,a){switch(t){case\"flag\":return n(e,\"\\ud83c\\udff3\\ufe0f\\u200d\\\
        u26a7\\ufe0f\",\"\\ud83c\\udff3\\ufe0f\\u200b\\u26a7\\ufe0f\")?!1:!n(e,\"\\\
        ud83c\\udde8\\ud83c\\uddf6\",\"\\ud83c\\udde8\\u200b\\ud83c\\uddf6\")&&!n(e,\"\
        \\ud83c\\udff4\\udb40\\udc67\\udb40\\udc62\\udb40\\udc65\\udb40\\udc6e\\udb40\\\
        udc67\\udb40\\udc7f\",\"\\ud83c\\udff4\\u200b\\udb40\\udc67\\u200b\\udb40\\\
        udc62\\u200b\\udb40\\udc65\\u200b\\udb40\\udc6e\\u200b\\udb40\\udc67\\u200b\\\
        udb40\\udc7f\");case\"emoji\":return!a(e,\"\\ud83e\\udedf\")}return!1}function\
        \ g(e,t,n,a){var r=\"undefined\"!=typeof WorkerGlobalScope&&self instanceof\
        \ WorkerGlobalScope?new OffscreenCanvas(300,150):s.createElement(\"canvas\"\
        ),o=r.getContext(\"2d\",{willReadFrequently:!0}),i=(o.textBaseline=\"top\"\
        ,o.font=\"600 32px Arial\",{});return e.forEach(function(e){i[e]=t(o,e,n,a)}),i}function\
        \ t(e){var t=s.createElement(\"script\");t.src=e,t.defer=!0,s.head.appendChild(t)}\"\
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/breaking-bad-s01e01-bdrip-x264-fgt/
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"pt-BR\" prefix=\"og: https://ogp.me/ns#\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\"\
        >\n\t\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/the-bad-guys-breaking-in-s01e01-1080p-web-h264-dolores-pt-cc/
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"pt-BR\" prefix=\"og: https://ogp.me/ns#\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/the-bad-guys-breaking-in-s01e01-1080p-web-h264-dolores/
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"pt-BR\" prefix=\"og: https://ogp.me/ns#\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/breaking-bad-s01e01-1080p-nf-web-dl-ddp5-1-x264-pia/
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"pt-BR\" prefix=\"og: https://ogp.me/ns#\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/breaking-bad-s01e01-webrip-netflix/
  response:
    body:
      string: "<!DOCTYPE html>\n<html dir=\"ltr\" lang=\"pt-BR\" prefix=\"og: https://ogp.me/ns#\"\
        >\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,\
        \ initial-scale=1.0\">\n\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css\"\
        >\n\t\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/breaking-bad-s01e01-bdrip-x264-fgt/?download=836385
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      Location:
      - https://legendei.net/wp-content/uploads/2026/06/Breaking.Bad_.S01E01.BDRip_.x264-FGT.zip
      X-Redirect-By:
      - WordPress
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://legendei.net/wp-content/uploads/2026/06/Breaking.Bad_.S01E01.BDRip_.x264-FGT.zip
  response:
    body:
      string: !!binary |
        UEsDBBQAAAAIAIa9klHSTPTeYkEAANKiAAAmAAAAQnJlYWtpbmcuQmFkLlMwMUUwMS5CRFJpcC54
        MjY0LUZHVC5zcnR9fc2S5MaR5r3M6h1A2R6zawFE4E8mU1upuyhRYv+I3WydUZmoKjQzE0Ugs5bT
        pzXbk+aqfYFeHbQtM544c5k97CEfaF9h/XP3cASqyTGbocgsuCMQ4eHhP597/L//83+z87M0/XWa
        /TptVlmRJU+e/DaRH7JslebN+dmL7pg8747Tx[...]
