$navbar-width: 200;

:export {
  colorBrand0: $color-brand-0;
  colorBrand1: $color-brand-1;
  colorBrand2: $color-brand-2;
  colorBrand3: $color-brand-3;
  colorBrand4: $color-brand-4;
  colorBrand5: $color-brand-5;
  colorBrand6: $color-brand-6;
  colorBrand7: $color-brand-7;
  colorBrand8: $color-brand-8;
  colorBrand9: $color-brand-9;

  headerHeight: $header-height;

  navBarWidth: $navbar-width;
}
