$navbar-width: 200;

:export {
  colorBrand0: bazarr.$color-brand-0;
  colorBrand1: bazarr.$color-brand-1;
  colorBrand2: bazarr.$color-brand-2;
  colorBrand3: bazarr.$color-brand-3;
  colorBrand4: bazarr.$color-brand-4;
  colorBrand5: bazarr.$color-brand-5;
  colorBrand6: bazarr.$color-brand-6;
  colorBrand7: bazarr.$color-brand-7;
  colorBrand8: bazarr.$color-brand-8;
  colorBrand9: bazarr.$color-brand-9;

  colorDanger0: bazarr.$color-danger-0;
  colorDanger1: bazarr.$color-danger-1;
  colorDanger2: bazarr.$color-danger-2;
  colorDanger3: bazarr.$color-danger-3;
  colorDanger4: bazarr.$color-danger-4;
  colorDanger5: bazarr.$color-danger-5;
  colorDanger6: bazarr.$color-danger-6;
  colorDanger7: bazarr.$color-danger-7;
  colorDanger8: bazarr.$color-danger-8;
  colorDanger9: bazarr.$color-danger-9;

  colorSuccess0: bazarr.$color-success-0;
  colorSuccess1: bazarr.$color-success-1;
  colorSuccess2: bazarr.$color-success-2;
  colorSuccess3: bazarr.$color-success-3;
  colorSuccess4: bazarr.$color-success-4;
  colorSuccess5: bazarr.$color-success-5;
  colorSuccess6: bazarr.$color-success-6;
  colorSuccess7: bazarr.$color-success-7;
  colorSuccess8: bazarr.$color-success-8;
  colorSuccess9: bazarr.$color-success-9;

  colorWarning0: bazarr.$color-warning-0;
  colorWarning1: bazarr.$color-warning-1;
  colorWarning2: bazarr.$color-warning-2;
  colorWarning3: bazarr.$color-warning-3;
  colorWarning4: bazarr.$color-warning-4;
  colorWarning5: bazarr.$color-warning-5;
  colorWarning6: bazarr.$color-warning-6;
  colorWarning7: bazarr.$color-warning-7;
  colorWarning8: bazarr.$color-warning-8;
  colorWarning9: bazarr.$color-warning-9;

  colorInfo0: bazarr.$color-highlight-0;
  colorInfo1: bazarr.$color-highlight-1;
  colorInfo2: bazarr.$color-highlight-2;
  colorInfo3: bazarr.$color-highlight-3;
  colorInfo4: bazarr.$color-highlight-4;
  colorInfo5: bazarr.$color-highlight-5;
  colorInfo6: bazarr.$color-highlight-6;
  colorInfo7: bazarr.$color-highlight-7;
  colorInfo8: bazarr.$color-highlight-8;
  colorInfo9: bazarr.$color-highlight-9;

  headerHeight: bazarr.$header-height;
  navBarWidth: $navbar-width;
}
