.root {
  background-color: var(--mantine-color-grape-light);

  &[data-variant="disabled"] {
    background-color: rgba(52, 58, 64, 0.2);
  }

  @include light {
    color: var(--mantine-color-primary);
    background-color: var(--mantine-color-grape-light);

    &[data-variant="brand"] {
      background-color: $color-brand-6;
      color: var(--mantine-color-primary);
    }

    &[data-variant="disabled"] {
      background-color: rgb(248, 249, 250);
      color: rgb(134, 142, 150);
    }
  }
}
