@layer mantine {
  .root {
    @include mantine.dark {
      color: var(--mantine-color-dark-0);
    }

    &[data-variant="danger"] {
      background-color: var(--mantine-color-red-9);
      color: var(--mantine-color-red-0);
    }
  }

  .root:disabled {
    @include mantine.dark {
      color: var(--mantine-color-dark-9);
    }
  }
}
