<!DOCTYPE html>
<html>
<head>
    <title>Server-side processing datatables test</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">
</head>
<body>
    <table id="example" class="mdl-data-table" style="width:100%">
        <thead>
            <tr>
                <th>action</th>
                <th>title</th>
                <th>timestamp</th>
                <th>description</th>
            </tr>
        </thead>
    </table>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax": "http://localhost:6767/api/history_movies",
            "columns": [
            { "data": "action" },
            { "data": "title" },
            { "data": "timestamp" },
            { "data": "description" }
            ]
        } );

        var source = new EventSource('/event');
        source.onmessage = function (event) {
             table.ajax.reload(null, false);
        };
    } );
</script>
</html>