@import "../../@scss/variable.scss";
@import "../../@scss/bazarr.scss";

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

.alert-container {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  margin-top: $header-height;

  z-index: 9999;

  .toast-container {
    padding: 1rem;

    .toast {
      width: 16rem;

      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      .toast-body {
        span {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100%;
          display: inline-block;
        }
        .progress {
          .progress-bar {
            text-shadow: -2px -2px 5px theme-color("primary"),
              2px -2px 5px theme-color("primary"),
              -2px 2px 5px theme-color("primary"),
              2px 2px 5px theme-color("primary");
            overflow: visible;
          }
        }
      }
    }
  }
}
