interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.assrt.net/v1/sub/search?q=%5B%27Man+of+Steel+2013%27%5D&token=SECRET&is_file=%5B%271%27%5D
  response:
    body:
      string: "{\"status\":0,\"sub\":{\"keyword\":\"Man of Steel 2013\",\"result\"\
        :\"succeed\",\"subs\":[{\"subtype\":\"SSA\",\"id\":618185,\"lang\":{\"desc\"\
        :\"\u82F1 \u7B80 \u7E41 \u53CC\u8BED\",\"langlist\":{\"langchs\":true,\"langeng\"\
        :true,\"langdou\":true,\"langcht\":true}},\"vote_score\":0,\"upload_time\"\
        :\"2018-01-26 12:19:27\",\"release_site\":\"CMCT\",\"native_name\":\"\u8D85\
        \u4EBA\uFF1A\u94A2\u94C1\u4E4B\u8EAF.Man.Of.Steel.2013.BluRay.720p.x264.AC3.2Audios-CMCT.\u7B80\
        \u7E41\u82F1\u53CC\u8BED\u5B57\u5E55\",\"videoname\":\"Man.Of.Steel.2013.BluRay.720p.x264.AC3.2Audios-CMCT\"\
        ,\"revision\":0},{\"subtype\":\"SSA\",\"id\":316973,\"vote_score\":0,\"upload_time\"\
        :\"2014-12-06 04:13:44\",\"native_name\":\"\u8D85\u4EBA\uFF1A\u94A2\u94C1\u4E4B\
        \u8EAF\\/\u8D85\u4EBA\uFF1A\u94A2\u94C1\u82F1\u96C4\",\"videoname\":\"Man\
        \ of Steel 2013 720p BluRay x264 DTS-WiKi\",\"revision\":0},{\"subtype\":\"\
        Subrip(srt)\",\"id\":253629,\"lang\":{\"desc\":\"\u7E41\",\"langlist\":{\"\
        langcht\":true}},\"vote_score\":0,\"upload_time\":\"2014-03-17 15:30:19\"\
        ,\"native_name\":\"\",\"videoname\":\"[\u8D85\u4EBA \u92FC\u9435\u82F1\u96C4\
        ]Man.of.Steel.(2013).BDRip.720p.DTS.X264-Felony\",\"revision\":0},{\"subtype\"\
        :\"SSA\",\"id\":252930,\"lang\":{\"desc\":\"\u82F1 \u7E41 \u53CC\u8BED\",\"\
        langlist\":{\"langeng\":true,\"langdou\":true,\"langcht\":true}},\"vote_score\"\
        :45,\"upload_time\":\"2014-03-05 18:10:39\",\"native_name\":\"\u8D85\u4EBA\
        \uFF1A\u92FC\u9435\u82F1\u96C4\",\"videoname\":\"Man of Steel\",\"revision\"\
        :0},{\"subtype\":\"Subrip(srt)\",\"id\":246016,\"lang\":{\"desc\":\"\u82F1\
        \ \u7B80 \u7E41\",\"langlist\":{\"langeng\":true,\"langcht\":true,\"langchs\"\
        :true}},\"vote_score\":0,\"upload_time\":\"2013-11-09 10:43:13\",\"native_name\"\
        :\"\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.assrt.net/v1/sub/detail?token=SECRET&id=%5B%27618185%27%5D
  response:
    body:
      string: "{\"status\":0,\"sub\":{\"result\":\"succeed\",\"subs\":[{\"id\":618185,\"\
        filelist\":[{\"url\":\"http:\\/\\/file0.assrt.net\\/onthefly\\/618185\\/-\\\
        /1\\/Man.Of.Steel.2013.BluRay.720p.x264.AC3.2Audios-CMCT.%E7%AE%80%E4%BD%93%26%E8%8B%B1%E6%96%87.ass?_=1575122879&-=159cbd264a1c51aaa40ba10021f3c849&api=1\"\
        ,\"f\":\"Man.Of.Steel.2013.BluRay.720p.x264.AC3.2Audios-CMCT.\u7B80\u4F53\
        &\u82F1\u6587.ass\",\"s\":\"233KB\"},{\"url\":\"http:\\/\\/file0.assrt.net\\\
        /onthefly\\/618185\\/-\\/2\\/Man.Of.Steel.2013.BluRay.720p.x264.AC3.2Audios-CMCT.%E7%AE%80%E4%BD%93%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://file0.assrt.net/onthefly/618185/-/1/Man.Of.Steel.2013.BluRay.720p.x264.AC3.2Audios-CMCT.%E7%AE%80%E4%BD%93%26%E8%8B%B1%E6%96%87.ass?api=%5B%271%27%5D&-=%5B%27159cbd264a1c51aaa40ba10021f3c849%27%5D&_=%5B%271575122879%27%5D
  response:
    body:
      string: "\uFEFF[Script Info]\r\n;SrtEdit 6.0.2011.1205\r\n;Copyright(C) 2005-2011\
        \ Yuan Weiguo\r\n\r\nTitle: \r\nOriginal Script: \r\nOriginal Translation:\
        \ \r[...]
