.connectionIndicator {
  &.success {
    color: var(--mantine-color-green-6);
  }

  &.error {
    color: var(--mantine-color-red-6);
  }
}

.serverConnectionCard {
  background: var(--mantine-color-gray-0);

  [data-mantine-color-scheme="dark"] & {
    background: var(--mantine-color-dark-6);
  }
}
