.card {
  border-radius: var(--mantine-radius-sm);
  border: 1px solid var(--mantine-color-gray-7);

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    border: 1px solid bazarr.$color-brand-5;
  }
}
