body {
  font-family: "Roboto", "open sans", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif !important;
  font-weight: 300 !important;
}

// Reduce padding of cells in datatables
.table td,
.table th {
  padding: 0.4rem !important;
}

.progress-bar {
  cursor: default;
}

a {
  color: theme-color("primary");
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: theme-color("primary");
    text-decoration: underline;
  }
}
