@import "./variable.scss";

// Override bootstrap primary color
:root {
  --primary: #{$theme-color};

  .btn-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;

    &:hover,
    &:active,
    &:focus {
      background-color: $theme-color-darked !important;
      border-color: $theme-color-darked !important;
    }
  }

  .badge-primary {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
  }

  input {
    &[type="text"],
    &[type="password"] {
      &:active,
      &:focus {
        border-color: $theme-color;
        box-shadow: none;
      }
    }
  }
}

td {
  vertical-align: middle !important;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 360px;
}

.dropdown-hidden {
  &::after {
    display: none;
  }
}

.custom-selector {
  .selector__control {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0.25rem;
  }
  .selector__control--is-focused {
    border-color: var(--primary) !important;
  }
  .selector__menu {
    z-index: 1000;
  }

  .selector__option--is-focused {
    background-color: $theme-color-transparent;
    &:focus,
    &:active {
      background-color: $theme-color-less-transparent;
    }
  }

  .selector__option--is-selected {
    background-color: var(--primary);
    &:active {
      background-color: $theme-color-darked;
    }
  }
}
