@import "./variable.scss";

:root {
  .form-control {
    &:focus {
      outline-color: none !important;
      box-shadow: none !important;
      border-color: var(--primary) !important;
    }
  }
}

td {
  vertical-align: middle !important;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 360px;
}

.dropdown-hidden {
  &::after {
    display: none;
  }
}

.opacity-100 {
  opacity: 100% !important;
}
