@import "./global.scss";
@import "./sidebar.scss";
@import "./components.scss";
@import "./variable.scss";

#root {
  height: 100vh;
}

.header-container {
  height: $header-height;

  nav {
    background-color: $theme-color !important;
  }

  .btn-light {
    color: white !important;
    background-color: transparent !important;
    border-color: transparent !important;

    &:hover,
    &:active,
    &:focus {
      background-color: $theme-color-darked !important;
      border-color: $theme-color-darked !important;
    }
  }

  input[type="text"] {
    // Fake Material Design Style
    padding: 0;
    transition: none;
    color: white;
    border-radius: 0;
    border: none;
    border-bottom: {
      color: white !important;
      width: 1px !important;
      style: solid !important;
    }
    background-color: transparent;

    &::placeholder {
      color: lightgray;
    }

    &:focus {
      box-shadow: none;
    }
  }
}
