@import "./global.scss";
@import "./variable.scss";
@import "./bazarr.scss";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.header-container {
  height: $header-height;

  input {
    &[type="text"] {
      // Fake Material Design Style
      padding: 0;
      transition: none;
      color: white;
      border-radius: 0;
      border: none;
      border-bottom: {
        color: white !important;
        width: 1px !important;
        style: solid !important;
      }
      background-color: transparent;

      &::placeholder {
        color: lightgray;
      }

      &:focus {
        box-shadow: none;
      }
    }
  }
}

@mixin sidebar-animation {
  transition: {
    duration: 0.2s;
    timing-function: ease-in-out;
  }
}

@include media-breakpoint-up(sm) {
  .sidebar-container {
    position: sticky;
  }

  .main-router {
    max-width: calc(100% - #{$sidebar-width});
  }

  .header-icon {
    min-width: $sidebar-width;
  }
}

@include media-breakpoint-down(sm) {
  .sidebar-container {
    position: fixed !important;
    transform: translateX(-100%);

    @include sidebar-animation();

    &.open {
      transform: translateX(0) !important;
    }
  }

  .main-router {
    max-width: 100%;
  }

  .sidebar-overlay {
    @include sidebar-animation();
    &.open {
      display: block !important;
      opacity: 0.6;
    }
  }

  .header-icon {
    min-width: 0;
  }
}
