$sidebar-width: 190px;
$header-height: 60px;

// hardcode variable for defining sm-md breakpoint
$sm: 576px;
$md: 767.98px;

$theme-color-less-transparent: #911f9331;
$theme-color-transparent: #911f9313;
$theme-color: #911f93;
$theme-color-darked: #761977;
